services:
  audioservice:
    build: ./Services/AudioService
    container_name: moodify-audioservice
    environment:
      - SUPABASE_AUDIOSERVICE_URL=${SUPABASE_AUDIOSERVICE_URL}
      - SUPABASE_AUDIOSERVICE_SERVICE_ROLE=${SUPABASE_AUDIOSERVICE_SERVICE_ROLE}
      - SUPABASE_AUDIOSERVICE_ANON_KEY=${SUPABASE_AUDIOSERVICE_ANON_KEY}
      - SUPABASE_AUDIOSERVICE_BUCKET=${SUPABASE_AUDIOSERVICE_BUCKET}
      - ASPNETCORE_ENVIRONMENT=Development
      - JWT_SECRET=${JWT_SECRET}
    ports:
      - "5000:8080"

  playlistservice:
    build: ./Services/PlaylistService
    container_name: moodify-playlistservice
    environment:
      - SUPABASE_PLAYLISTSERVICE_URL=${SUPABASE_PLAYLISTSERVICE_URL}
      - SUPABASE_PLAYLISTSERVICE_SERVICE_ROLE=${SUPABASE_PLAYLISTSERVICE_SERVICE_ROLE}
      - SUPABASE_PLAYLISTSERVICE_ANON_KEY=${SUPABASE_PLAYLISTSERVICE_ANON_KEY}
      - ASPNETCORE_ENVIRONMENT=Development
      - AUDIO_SERVICE_URL=http://audioservice:8080
      - JWT_SECRET=${JWT_SECRET}
    ports:
      - "5001:8080"

  authservice:
    build: ./Services/AuthService
    container_name: moodify-authservice
    environment:
      - SUPABASE_USERSERVICE_URL=${SUPABASE_USERSERVICE_URL}
      - SUPABASE_USERSERVICE_SERVICE_ROLE=${SUPABASE_USERSERVICE_SERVICE_ROLE}
      - SUPABASE_USERSERVICE_ANON_KEY=${SUPABASE_USERSERVICE_ANON_KEY}
      - JWT_SECRET=${JWT_SECRET}
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5002:8080"

  userservice:
    build: ./Services/UserService
    container_name: moodify-userservice
    environment:
      - SUPABASE_USERSERVICE_URL=${SUPABASE_USERSERVICE_URL}
      - SUPABASE_USERSERVICE_SERVICE_ROLE=${SUPABASE_USERSERVICE_SERVICE_ROLE}
      - SUPABASE_USERSERVICE_ANON_KEY=${SUPABASE_USERSERVICE_ANON_KEY}
      - ASPNETCORE_ENVIRONMENT=Development
      - JWT_SECRET=${JWT_SECRET}
    ports:
      - "5003:8000"

  frontend:
    build: ./MoodifyFrontend
    container_name: moodify-frontend
    depends_on:
      - audioservice
    environment:
      - REACT_APP_API_URL=http://audioservice:5000
    ports:
      - "3000:80"
